@model Category

@{
    ViewData["Title"] = Model.Name;
}


<header class="mb-4">
    <!-- Post title-->
    <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
    <h3>@Model.Description</h3>
</header>
