@model PostDetailViewModel
@{
    ViewData["Title"] = Model.Post.Title;
}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                </header>
                <!-- Preview image figure-->
                <!-- Post content-->
                <section class="mb-5">
                    <h2 class="fw-bolder mt-5">Başlık: @Model.Post.Title</h2>
                    <h6 class="fw-bolder mb-4">İçerik: @Model.Post.Content</h6>
                </section>
            </article>
        </div>
        <partial name="_PostPartial" model="Model.RelatedPosts" />
    </div>
</div>